<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      <i class="icon-drop"></i> <strong>Qualification Specialization</strong> 
    </div>
    <div class="card-body">
        <form #form="ngForm" [formGroup]="qualificationSpecializationCreateForm" >
          <table>
            <tr>
                <td style="width:300px">
                <mat-form-field appearance="outline">
                  <mat-label>Qualification Specialization</mat-label>
                  <input type="text" matInput formControlName="qualification_specialization_type" maxlength="20" required/>
                </mat-form-field>               
                </td>                
                  <td>
                    <mat-form-field  appearance="outline">
                      <mat-select formControlName="qualification_type_id" placeholder="Qualification Type">
                      <mat-option *ngFor="let qualificationType of qualificationType"  [value]="qualificationType.qualification_type_id">{{qualificationType.qualification_type}}</mat-option>
                      </mat-select>
                  </mat-form-field>
                  </td>
                </tr> 
          </table>
                <div class="card-footer">
                  <button type="submit" class="btn btn-sm btn-primary" (click)="onSubmit()"> {{btnName}}</button>
                  <button type="reset" class="btn btn-sm btn-danger" (click)="resetForm(qualificationSpecializationCreateForm)"><i class="fa fa-ban"></i> Cancel</button>
               </div>           
        </form>
    </div>
   </div>
</div>
<div class="mat-elevation-z8">
  <mat-table [dataSource]="listdata" *ngIf="!loaded" >
      <ng-container matColumnDef="qualification_specialization_type">
          <mat-header-cell *matHeaderCellDef> Specialization </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.qualification_specialization_type}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="qualification_type">
          <mat-header-cell *matHeaderCellDef> Qualification Type</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.qualification_type}} </mat-cell>
      </ng-container>      
             
      <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
          <mat-cell *matCellDef="let element"> 
              <button type="button" class="btn btn-sm btn-primary" (click)="onEditBtnClick(element.qualification_specialization_id)"><i class="fa fa-lightbulb-o"></i>&nbsp;Edit</button>
              <button type="button" class="btn btn-sm btn-danger m-2" (click)="onDeleteBtnClick(element.qualification_specialization_id)"><i class="fa fa-lightbulb-o"></i>&nbsp;Delete</button>
            </mat-cell>
      </ng-container>
      
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  </div>
      

